<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/jquery/dist/jquery.js"/>

        <title>

        </title>
    </head>
    <body>
    
    </body>
    </html>