<div>
    <h2 style ="text-align:center">Hoşgeldiniz</h2>
    <p style="text-align:center"><a asp-controller="Home" asp-action="Login">Giriş</a></p>
    <p style="text-align:center"><a asp-controller="Home" asp-action="Registration">Kayıt Ol</a></p>
</div>

<p>deneme</p>