<div class="text-center">
    <h1 class="display-4">DDDD</h1>
    <div class="form-group">
        <form action="/" method="post">
            <label>Email</label>
            <input class="form-control" />
            <label>Şifre</label>
            <input class="form-control" />
        </form>
    </div>


    <p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Login">Ok</a>
    </p>
</div>